{{! Header navigation }}

{{^if isSecondary}}

            {{#foreach navigation}}
<li {{#if current}}class="nav-current"{{/if}}>
                <a href="{{url absolute="true"}}">{{label}}</a>
                </li>
            {{/foreach}}

{{else}}


{{! Footer navigation }}

{{#foreach navigation limit="4"}}
{{#if @first}}
<div class="footer-nav-column">
	<h5>{{t "Column Yes"}}</h5>
	<ul>
		{{/if}}
		<li><a href="{{url absolute="true"}}">{{label}}</a></li>
		{{#if @last}}
	</ul>
</div>
{{/if}}
{{/foreach}}

{{#foreach navigation limit="4" from="5"}}
{{#if @first}}
<div class="footer-nav-column">
	<h5>{{t "Column 2"}}</h5>
	<ul>
		{{/if}}
		<li><a href="{{url absolute="true"}}">{{label}}</a></li>
		{{#if @last}}
	</ul>
</div>
{{/if}}
{{/foreach}}

{{#foreach navigation limit="4" from="9"}}
{{#if @first}}
<div class="footer-nav-column">
	<h5>{{t "Column 3"}}</h5>
	<ul>
		{{/if}}
		<li><a href="{{url absolute="true"}}">{{label}}</a></li>
		{{#if @last}}
	</ul>
</div>
{{/if}}
{{/foreach}}

{{#foreach navigation from="13"}}
{{#if @first}}
<div class="footer-nav-column">
	<h5>{{t "Column 4"}}</h5>
	<ul>
		{{/if}}
		<li><a href="{{url absolute="true"}}">{{label}}</a></li>
		{{#if @last}}
	</ul>
</div>
{{/if}}
{{/foreach}}
{{/if}}
